body {
  color: black;
  font-family: 'Merriweather', serif;
  padding: 0px;
  margin: 0px;
}

.banner {
  display: flex;
  flex-direction: row;
  margin: 5%;
  font-size: 2em;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: solid;
    border-style: solid;
    border-style: solid;
}

.nav-contents {
  margin: 1em;
  font-size: 1em;
}

.nav-contents-header {
  margin-top: 0.7em;
}

.card-pile {
  flex: 1 1 28%;
  height: 18em;
  background: #FFFAFA;
  margin: 3em;
  border: black;
  border-style: solid;
  border-radius: 20px;
}

#card-container {
  display: flex;
  flex-direction: row;
}

#current, #incorrect {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#element-symbol {
  font-size: 5em;
  margin-top: 40px;
  margin-bottom: 25px;
}

.name-input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#correct-element-name {
  font-size: 2em;
  margin-top: 10px;
}

#pending {
  background-color: mediumaquamarine;
  border: black;
  border-style: solid;
  border-radius: 20px;
}
